ul {
    display: flex;
    padding: 5px;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
}
li {
    width: 400px;
    padding: 5px 1px 1px 1px;
    list-style: none;
    font-size: 16px;
    background-color: #f9f9f9;

}

button {
    margin: none;
    padding: 20px 20px;
    border: 20px solid;
    width: 200px;
    min-height: 20px;
    background-color: rgb(17, 160, 48);
    color: white;
    cursor: pointer;
}

.bth-search{
    margin: none;
    padding: 19px 30px;
    width: 200px;
    min-height: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}


